html{
	height:95%;
	width:100%;	
}

body{
	height:95%;
	width:100%;
}

#cabecera{
	width:100%;
	height:15%;
	margin:1px;
	border:solid 1px;
	text-align:center;
	vertical-align:middle;
}

#cuerpo{
	width:100%;
	height:85%;
}

#opciones{
	width:100%;
	height:10%;
	margin:1px;
	border:solid 1px;
	text-align:center;
	vertical-align:middle;
}

#area_trabajo{
	width:68%;
	height:100%;
	float:left;	
	margin:1px;
	border:solid 1px;
}

#area_lienzo{
	width:100%;
	height:90%;	
}

#lienzo{
	/*width:100%;
	height:100%;*/
	background-color:#F1EDEC;
}

#limpiar{
	width:100%;
	height:10%;
	text-align:center;
	vertical-align:middle;
}

#info{
	width:28%;
	height:100%;
	float:right;
	margin:1px;
	border:solid 1px;
	font-size:45px;
}

.input_text{
	border: solid 1px;
	width:80%;
	height:45px;
}

.input_btn{
	border: solid 1px;
	width:80px;
	height:45px;
}


